
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1459329821'); /* IE9*/
  src: url('iconfont.eot?t=1459329821#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1459329821') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1459329821') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1459329821#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.icon-wangzhan:before { content: "\e67c"; }
.icon-zhuanti:before { content: "\e61a"; }
.icon-hezuo:before { content: "\e600"; }
